{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- body -->
    <div class="main-create">
        <div id="back_img">When it doubt,<br>TRAVEL</div>
        <a id="create-btn"href="{% url 'ToRoom_create' %}">새로운 여행 그룹 <img src="{% static 'img/invite_btn.png' %}" ></a>
    </div>
    <section>
        {% for info in infos %}
               <a href="{%url 'Room_detail' info.id%}">
                  <div id="card">
                    <div id="line"></div>
                    <div class="title">
                        {{info.roomname }}
                    </div>
                    <div class="contents">
                        <span class="mainmember"><span>방장 &nbsp;</span>{{info.mainmember}}</span>
                        <span class="date">{{info.date}}</span>
                        <!-- <p></p> -->
                    </div>
                  </div>
                </a>
                {% endfor %}
            </section>
    
{% endblock contents %}
    