{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ipb7uyokq0"></script>

    <!-- body -->
    <section>
        <div id="map"></div>
    </section>
    <!-- 월 6,000,000건 까지만 무료이므로 개발시에는 ncpClientId의 값을 따로 빼서 주석 처리후 개발할것...  -->

    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 10
        };
        
        var map = new naver.maps.Map('map', mapOptions);
    </script>
    
    
    
    <section id="chat_section" class="board">
        <textarea id="chat-log" cols="65" rows="20"></textarea><br/>
        <div id ="chat_line"></div>
        <input id="chat-message-input" type="text"><br/>
        <input id="chat-message-submit" type="button" value="Send"/>
    </section>
    
    
    <input type="button" id="toggle_btn" >
    

    

    


















    <!-- 자바스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
    <script>

    //document.querySelector('#chat-message-input').focus();
    //채팅 관련 자바스크립트//
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = "{{user.username}} :" +data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };

//    채팅 접기, 펼치기


$(document).ready(function(){
 $('#toggle_btn').click(function(){
     $('#chat_section').toggle("slide")
   
 });
});
    </script>

{% endblock contents %}



    