{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700,800&display=swap" rel="stylesheet">


    <!-- body -->
    <form action="{% url 'Room_create' %}" method="GET">
    <div>
        <div id="title">CREATE YOUR ROOM</div>
        <div id="roomname_parent">
            <input id="roomname" name="roomname" type="search" onfocus="this.value=''" placeholder="방 이름을 입력해 주세요">
        </div>
        <div id="roomname_underline"></div>
        <section>
            <div id="friend_parent">
                <input id="friend" type="search" onfocus="this.value=''" placeholder="초대할 친구를 입력해 주세요">
                <span id="add_btn"  onclick ='input_Text()'>
                    <img src="{% static 'img/invite_btn.png' %}">
                </span>
            </div>
            <div id="friend_underline"></div>
            <div id="friend_list">
            </div>
     
            <input id="friend_list2">

            <input id="clearbtn" onclick ='del()' class = "delete" type="button" value="CLEAR">
        </section>
        <input id="createbtn" type="submit" value="CREATE">
    </div>
    </form>
    <!-- 자바스크립트 -->
    <script>
        function input_Text(){
            var x = document.getElementById("friend").value;    //친구 이름 받아오기
            var send = document.getElementById("friend_list2").value;
            var obj = document.createElement('div');
                obj.id = "::img";
                obj.style.cssText = 'position:absolute; top:10px; width:80px; height:200px; border-radius:100px; border:1px solid #ddd;';

                console.log(x);
            document.getElementById("friend_list").appendChild(obj.appendChild(x));
            document.getElementById("friend_list2").value  +=  (x + '&');
        }
        function del(){
            document.getElementById("friend_list").value = '';
            document.getElementById("friend_list2").value = '';
        }
        </script>
{% endblock contents %}