{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700,800&display=swap" rel="stylesheet">


    <!-- body -->
    <form action="{% url 'Room_create' %}" method="GET">
    <div>
        <div id="title">CREATE YOUR ROOM</div>
        <div id="roomname_parent">
            <input id="roomname" name="roomname" type="search" onfocus="this.value=''" placeholder="방 이름을 입력해 주세요">
        </div>
        <div id="roomname_underline"></div>
        <section>
            <div id="friend_parent">
                <input id="friend" type="search" onfocus="this.value=''" placeholder="초대할 친구를 입력해 주세요">
                <span id="add_btn"  onclick ='input_Text()'>
                    <img src="{% static 'img/invite_btn.png' %}">
                </span>
            </div>
            <div id="friend_underline"></div>
            <div id="friend_list">
            </div>
     
            <input id="friend_list2">
            <input id="clearbtn" onclick ='del()' class = "delete" type="button" value="CLEAR">
        </section>
        <input id="createbtn" type="submit" value="NEXT">
    </div>
    </form>
    <!-- 자바스크립트 -->
    <script>
        function input_Text(){
            var x = document.getElementById("friend").value;    //친구 이름 받아오기
            var len = x.length;
            console.log(len);
            var send = document.getElementById("friend_list2").value;
            var obj = document.getElementById("friend_list");
            if(len>0){
                obj.innerHTML += "<p style='width:"
                + len*15 +"px; height:20px; display:inline-block; margin-left:5px; border-radius:100px; border:2px solid rgba(90,90,249,0.6); text-align:center; padding:5px 0px 5px 0px;' >"
                    +x+"</p>";

                console.log(x);
                document.getElementById("friend_list2").value  +=  (x + '&');
            }
        }
        function del(){
            document.getElementById("friend_list").value = '';
            document.getElementById("friend_list2").value = '';
        }
        </script>
{% endblock contents %}