{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
<style>
        
        .card_section{
            background-color: rgba(230, 228, 228, 0.522);
            padding : 20px;
            margin-top : 2%;
            border-radius: 10px;
            float: left;
        }
        #trip_space{
            margin-left:3%;
            width:30%;
        }
    
        .card{
            text-align: center;
            font-weight: 500;
            width: 200px;
            margin-bottom: 50px;
            padding :5px;
            color: #000;
            border-radius: 5px; 
            margin-right:10px; 
        }
        .card:hover{ 
            transform: translateX(30px);
            transition: 0.1s ease-in;
        }
        select{
            width: 80%;
            border:none;
            border-bottom:solid 2px #000;
            background:#fff;
            font-size:1.2em;
            text-align: center;
            padding:1%;
        
        }

        .button{
           
            border-radius: 5px;
            background: linear-gradient(to left, #8E54E9, #4776E6);
            color:#fff;
            border:none;
            position:relative;
            height:30px;
            font-size:0.8em;
            padding:0 1em;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
            margin-top: 0;
            
          }
          .button:hover{
            background:#fff;
            color:black;
          }

          .button:before,.button:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            transition:400ms ease all;
          }
          .button:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
          }
          .button:hover:before,.button:hover:after{
            width:100%;
            transition:800ms ease all;
          }
          .trip_space{
            background-color:  rgba(230, 228, 228, 0.522);
            padding : 15px 0 10px 25px;
            margin: 10px 100px 20px 0;
            border-radius: 10px;
            width : 20%;
            height: 400px;
            float: left;

          }
          .card:active{
            transform: scale(1.1,1.1);

          }
         #map{
             width:45%;
             height:540px;
            float:left;
             margin-left:3%;
             border:1px solid #000;
         }
         #select{
             width: 45%;
             float:left;
             margin-left:3%;
         }
         #city{
             width:49%;
         }
</style>
<script>
   function allowDrop(ev){
    //방법1
    var digit = ev.target.id;
    var num = parseInt(digit);



        if ((digit != "trip_space") && (digit != "card_section")){
            return;
        }
 
        else {
            ev.preventDefault();
        // console.log(digit);
        }
       
   }
   function drag(ev){
       ev.dataTransfer.setData("text",ev.target.id);
   }
   function drop(ev){
       ev.preventDefault();
       var data = ev.dataTransfer.getData("text");
       ev.target.appendChild(document.getElementById(data));
   }

   var id=0;
   function test_id() {
    
       //document.getElementsByClassName("card").getAttribute('id')= "i";
       document.getElementsByClassName("card").setAttribute('id' ,'hello');
       
    
       };
       
   



</script>
        
    
</head>

<body>
    <form name="" action="{% url 'attraction' %}"  method="GET">
    <section id="map">

    </section> 

    <section id="select">
            <section id="city">
                    <select name="select_place" id = "select_value"> 
        
                            <option value="">지역</option>
                            <option value="서울">서울</option>
                            <option value="경기">경기</option>
                            <option value="인천">인천</option>
                            <option value="강원">강원</option>
                            <option value="충남">충남</option>
                            <option value="충북">충북</option>
                            <option value="대전">대전</option>
                            <option value="경북">경북</option>
                            <option value="대구">대구</option>
                            <option value="전북">전북</option>
                            <option value="전남">전남</option>
                            <option value="광주">광주</option>
                            <option value="경남">경남</option>
                            <option value="울산">울산</option>
                            <option value="부산">부산</option>
                            <option value="제주">제주</option>
                            
                    </select>
                <input type="submit" value="확인" class="button" >
            </section>
</form>
              

<form action="{% url 'next_select_page'%}" method="GET" class ="next_button">

            <input type ="text" name = "hi" id = "hidden_div" style="display: none;" value="{{value}}">
            <input type ="submit" value="NEXT" class ="button">
    
    </form>
    
      



    <section class="card_section" id="card_section" ondrop="drop(event)" ondragover="allowDrop(event)" >  
    
        {%for k,v in attraction.items %}    
            <div class="card" id="{{forloop.counter}}" draggable="true" ondragstart="drag(event)"><h3>{{k}}</h3> <br> {{v}}</div>
        {%endfor%}

    </section>
    


    



    <section class='trip_space' id="trip_space" ondrop="drop(event)" ondragover="allowDrop(event)"></section>


</section> 
{% endblock contents %}